In [1]:
import pandas as pd
df = pd.read_csv("../data/电话营销数据集.csv", index_col=0)
df

,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,,,,,,,,,,,,,,,,,,,,
30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,blue-collar,single,basic.9y,unknown,no,no,cellular,may,wed,159,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
53,admin.,married,university.degree,no,no,yes,telephone,may,tue,37,13,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
60,retired,married,university.degree,no,yes,no,cellular,oct,mon,338,2,999,0,nonexistent,-1.1,94.601,-49.5,1.000,4963.6,no
32,technician,single,university.degree,no,no,no,cellular,nov,thu,485,1,999,1,failure,-0.1,93.200,-42.0,4.076,5195.8,no
67,retired,married,basic.4y,no,no,no,cellular,aug,mon,300,3,999,0,nonexistent,-1.7,94.027,-38.3,0.898,4991.6,no

In [2]:
df.isnull() # 检查是否有缺失值

,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,,,,,,,,,,,,,,,,,,,,
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
67,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
df = df.fillna(0) # 使用0来替代缺失值